<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table>
  <thead>
    <tr>
	<th>№</th>
      <th>имя</th>
      <th colspan="3">действия</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
	<td><%= person.id %></td>
        <td><%= person.name %></td>
        <td><%= link_to 'Смотреть', person %></td>
        <td><%= link_to 'Править', edit_person_path(person) %></td>
        <td><%= link_to 'Удалить', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый персонаж', new_person_path %>
