<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

	  <ul>
	  <% @address.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	  <% end %>
	  </ul>
	</div>
  <% end %>
  
  <div class="field">
	<%= f.label :street, 'Улетса' %><br>
	<%= f.text_field :street %>
  </div> 
  <div>
	<%= f.label :person_id, 'Пирсонаж' %>
	<%= f.collection_select(:person_id, Person.all, :id, :name, prompt:'Выберите человека') %>
  </div>

<p>
	<%= f.fields_for :person do |person_form| %>
		<%= person_form.label :name, 'Новый персонаж' %>
		<%= person_form.text_field :name %>

		<%= person_form.check_box :_destroy %>
	<% end %>
</p>  
  
  <div class="actions">
	<%= f.submit %>
  </div>
<% end %>
