<p id="notice"><%= notice %></p>

<h1>Список адресов</h1>

<table cellpadding="4" cellspacing="3" border="2">
  <thead>
    <tr>
      <th>улица</th>
      <th>человек</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= link_to address.street, address_path(address) %></td>
        <td><%= link_to(address.person.name, person_path(address.person)) if not address.person.nil? %></td>
        <td><%= link_to 'смотреть', address %></td>
        <td><%= link_to 'править', edit_address_path(address) %></td>
        <td><%= link_to 'удалить', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to 'Новый адрес', new_address_path %></p>