<p id="notice"><%= notice %></p>

<p>
  <strong>Улица:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Человек:</strong>
  <%= @address.person.name if not @address.person.nil? %>
</p>

<%= link_to 'Правка', edit_address_path(@address) %> |
<%= link_to 'Назад', addresses_path %>
<p><%= link_to 'Новый адрес', new_address_path %></p>