<p id="notice"><%= notice %></p>

<p>
  <strong>Улица:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Человек:</strong>
  <%= @address.person.name %>
</p>

<%= link_to 'Правка', edit_address_path(@address) %> |
<%= link_to 'Назад', addresses_path %>
